<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Solotov - ICON-->
    <link
      rel="shortcut icon"
      href="/assets/img/solotov.png"
      type="image/x-icon"
    />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <!-- Bootstrap CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <!-- Costum CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <!-- Font-icon css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/fontawesome/css/font-awesome.min.css"
    />
    <title>QuizApp/Multiplayer</title>
  </head>
  <body>
    <div id="multiplayer">
      <header class="home">
        <div class="home-header">
          <div class="navBrand">
            <img src="/assets/img/solotov.png" alt="" />
            <h5>QuizApp</h5>
          </div>
          <div class="navUser">
            <a href="#" id="username">User Name</a>
            <img src="/assets/img/user.png" />
          </div>
        </div>
      </header>

      <main class="container">
        <div class="row">
          <div
            class="col-12 col-md-4 d-flex justify-content-center text-center"
          >
            <nav
              class="nav nav-game mb-3 d-flex flex-nowrap flex-md-column justify-content-center overflow-auto"
            >
              <a class="nav-link active" href="">Home</a>
              <a class="nav-link" href="/home/ranking">Ranking</a>
            </nav>
          </div>
          <div class="col-12 col-md-8">
            <div class="text-center mt-2">
              <img
                src="/assets/img/home.svg"
                class="card-img"
                alt="..."
                style="width: 220px"
              />
            </div>
            <div class="">
              <div class="card-body pt-0">
                <div
                  class="alert alert-danger mb-1 py-1 px-1 text-center"
                  id="messageBox"
                  style="display: none"
                ></div>
                <h5 class="card-title text-center">Game Options</h5>
                <form name="formLogin" autocomplete="off">
                  <!-- um jogador -->
                  <!-- <div class="form-group btn-container mb-2">
                    <a href="/home/menu" class="btn login_cover btn-block"
                      >New Game</a
                    >
                  </div> -->
                  <!-- dois jogadores -->
                  <div class="form-group btn-container mb-2">
                    <a
                      href="/home/multiplayer"
                      class="btn login_cover btn-block"
                      >1 Vs 1</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      document.getElementById("username").innerText =
        localStorage.getItem("username");
    </script>
  </body>
</html>
